.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #000;
	color: #fefefe;
	height: 450px;
	background-repeat: no-repeat;
	margin-bottom: -10px;

}
.searchbar{
	/* Rectangle 11 */

justify-content: center;
width: 602px;
height: 59px;
left: 38px;
top: 2160px;
font-size: 18px;
margin-right: 10px;
text-align: center;
background: #D9D9D9;
border-radius: 40px;
font-weight: 800px;

}

.chatbot{
	margin-top: 10px;
	margin-right: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.ftext2{
	color: #000;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	margin-left: 15px;
	margin-top: 10px;
	text-align: left;

}
.column1{
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.column2{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 0px;
}
.column3{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 0px;
}

.lastBar{
	height: 20px;
	width: max-content;
	color: #fefefe;
	margin-top: 350px;

}
.column4{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 340px;

}